* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
:root {
    --standar-height-wpi: 100dvh;
    --standar-height-card: 20dvh;
}


.full-height-wpi {
    min-height: var(--standar-height-wpi);
    max-height: var(--standar-height-wpi);
}

.display-flex {
    display: flex;
}

.lateral-menu-wpi {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}

.lateral-menu-wpi::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}

.item-wpi {
    width: 50%;
}

/* .lateral-menu-wpi {
    border: solid 1px purple;
    
} */

.full-width-wpi {
    width: 100%
}
.padding-bottom-10-wpi {
    padding-bottom: 10px;
}
.padding-left-30-wpi {
    padding-left: 30px;
}

.lateral-menu-wpi > div {
    width: 100%;
    min-height: var(--standar-height-wpi);
}

.service-card-wpi {
    height: var(--standar-height-card);
    min-height: 180px;
    position: relative;
    color: #ffffff;
}
.service-card-wpi h1, .service-card-wpi h2, .service-card-wpi h3, .service-card-wpi h4, .service-card-wpi h5 {
    text-decoration: underline;
}
.service-card-wpi span {
    font-weight: bold;
}
.margin-auto {
    margin: auto;
}

.service-card-wpi[bg-actived] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-image: var(--img-src);
}

.service-card-wpi > div {
    padding: 10px;
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    transition: all 0.3s ease;
}

.lateral-menu-wpi:hover .service-card-wpi:not(:hover) > div {
    background-color: rgba(43, 42, 43, 0.877);
    backdrop-filter: blur(5px);
}
.service-card-wpi > div{
    background-color: var(--alpha-color-card);
}
.service-card-wpi:hover > div {
    background-color: var(--alpha-color-card);
}



.full-height-wpi-100 {
    height: 100%;
}

.content-service-card-wpi {
    width: 80%;
}
.button-service-card-wpi {
    width: 20%;
    display: flex;
}
.button-service-card-wpi > button {
    margin: auto;
    border: solid 2px #fff;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}
.button-service-card-wpi > button:hover {
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.3);
}

/* Resolución para dispositivos móviles */
@media (max-width: 599px) {
    .item-wpi {
        width: 100% !important;
        display: block;
    }
    .no-display-on-movil {
        display: block;
    }
}